@model GCETNChapter.Models.ViewModels.Advertisement.AdvertisementVO

<div class="form-horizontal">
    <span id="LblAdvertisementHeaderText" class="headerText">Add Advertisement</span>
    <br /><br /><br />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", id = "TxtTitle" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Body, 5, 40,  new { @class = "textareastyle", id = "TxtBody" } )
            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div>
            <span class="formlabelFontRight col-md-2">* Select an Image</span>
        </div>
        <div class="col-md-10">
            <input type="file" id="ImgImageFile" name="ImageFile" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Footer, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Footer, new { htmlAttributes = new { @class = "form-control", id = "TxtFooter" } })
            @Html.ValidationMessageFor(model => model.Footer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">            
            <input id="BtnSaveAdvertisement" type="button" value="Save" class="btn btn-primary" />

            <br /><br />            
            <a  href="#" id="LnkBackToAllAds"><span class="glyphicon glyphicon-hand-left"></span>  Back to Advertisement List</a>
        </div>
    </div>
</div>
