@model IEnumerable<GCETNChapter.Models.ViewModels.Advertisement.AdvertisementVO>

<span class="headerText">Manage Advertisements</span>
<br /><br />

<div>
    <a href="#" id="LnkAddNewAdvertisement"><span class="glyphicon glyphicon-plus"></span> Add Advertisement</a>
</div>
<br />

<div class="table-responsive">
    <table id="TblAdvertisements" class="table table-hover">
        <thead>
            <tr class="tableHeaderFont">
                <th></th>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Footer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpiryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
        {
            foreach (var item in Model)
            {
                    <tr class="tableBodyFont">
                        <td>
                            <a href="#" class="editIcon" data-toggle="tooltip" title="Edit Advertisement" onclick="GetAdvertisementByID(@item.AdvertisementID)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="#" class="editIcon" data-toggle="tooltip" title="Delete Advertisement" onclick="DeleteAdvertisement(@item.AdvertisementID)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td>
                            <img src=@("/_ImageUploads/Advertisements/"+ item.ImageFileName) height="50" width="50" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Footer)</td>
                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ExpiryDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.CreatedDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModifiedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.ModifiedDate)</td>
                    </tr>
            }
        }
        </tbody>
    </table>
</div>