@model List<GCETNChapter.Models.ViewModels.Events.EventGalleryVO>

<span id="LblHeaderText_EED" class="headerText">Manage Event Gallery</span>
<br /><br /><br />

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <a href="#" id="LnkAddImageGallery_EG"><span class="glyphicon glyphicon-plus"></span> Add Photos </a>
        </div>
    </div>
    <div class="col-md-9 text-left">
        @if (Model != null)
        {
            <span class="formlabelFontLeft"> Select an Event to view the photos </span>
            @Html.DropDownListFor(model => model[0].EventNameList, new SelectList(Model[0].EventNameList, Model[0].EventName), new { @class = "dropdownstyle", id = "DDLEventName_ViewGallery" })
        }
    </div>
    
</div>
<br />

<div class="row table-responsive">
    <table id="TblViewEventGallery_EG1" class="table table-hover">
        <thead></thead>
        <tbody>
        @if (Model != null)
        {
            if (Model[0].EventID != 0)
            {
                for (int x = 0; x < Model.Count; x++)
                {
                <tr>
                    @if (x < Model.Count)
                    {
                    <td>
                        <div class="row smallFont">
                            <div> @Model[x].ImageFileName </div>
                            <div> <img src="~/_ImageUploads/EventPhotos/@Model[x].ImageFileName" height="150" /> </div>
                            <span>(ID: @Model[x].ImageID )</span>
                            <span> @Model[x].CreatedDate.Value.ToShortDateString() </span>
                        </div>
                    </td>
                    }

                    @if (x + 1 < Model.Count)
                    {
                    <td>
                        <div class="row smallFont">
                            <div> @Model[x + 1].ImageFileName </div>
                            <div> <img src="~/_ImageUploads/EventPhotos/@Model[x + 1].ImageFileName" height="150" /> </div>
                            <span>(ID: @Model[x + 1].ImageID )</span>
                            <span> @Model[x + 1].CreatedDate.Value.ToShortDateString() </span>
                        </div>
                    </td>
                    }

                    @if (x + 2 < Model.Count)
                    {
                    <td>
                        <div class="row smallFont">
                            <div> @Model[x + 2].ImageFileName </div>
                            <div> <img src="~/_ImageUploads/EventPhotos/@Model[x + 2].ImageFileName" height="150" /> </div>
                            <span>(ID: @Model[x + 2].ImageID )</span>
                            <span> @Model[x + 2].CreatedDate.Value.ToShortDateString() </span>
                        </div>
                    </td>
                    }

                    @if (x + 3 < Model.Count)
                    {
                        <td>
                            <div class="row smallFont">
                                <div> @Model[x + 3].ImageFileName </div>
                                <div> <img src="~/_ImageUploads/EventPhotos/@Model[x + 3].ImageFileName" height="150" /> </div>
                                <span>(ID: @Model[x + 3].ImageID )</span>
                                <span> @Model[x + 3].CreatedDate.Value.ToShortDateString() </span>
                            </div>
                        </td>
                    }

                    @if (x + 4 < Model.Count)
                    {
                        <td>
                            <div class="row smallFont">
                                <div> @Model[x + 4].ImageFileName </div>
                                <div> <img src="~/_ImageUploads/EventPhotos/@Model[x + 4].ImageFileName" height="150" /> </div>
                                <span>(ID: @Model[x + 4].ImageID )</span>
                                <span> @Model[x + 4].CreatedDate.Value.ToShortDateString() </span>
                            </div>
                        </td>
                    }
                </tr>
                    x = x + 4;
                }
            }
        }
        </tbody>
    </table>

    @if (Model != null)
    {
        if (Model[0].EventID == 0)
        {
            <div class="alert alert-danger text-center">
                <span>There are no images found for the selected Event.</span>
            </div>
        }
    }

    <div id="divEnlargeImageFile" class="enlargeImage hideDiv">
        <img id="ImageFile" src="" height="600" />
    </div>

</div>





