@model GCETNChapter.Models.ViewModels.MemberProfileVO

<div class="panel panel-default">
    <div class="panel-heading formlabelFontLeft">Workplace And Expertise Information</div>
    <div class="panel-body">

        <div class="row rowPadding">
            <div>
                <div class="col-md-2 formlabelFontRight">
                    @Html.LabelFor(model => model.Company)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control", id = "TxtCompany" } })
                    @Html.ValidationMessageFor(model => model.Company, "", new { @class = "textboxerror" })
                </div>
            </div>
            <div>
                <div class="col-md-2 formlabelFontRight">
                    @Html.LabelFor(model => model.Occupation)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Occupation, new { htmlAttributes = new { @class = "form-control", id = "TxtOccupation" } })
                    @Html.ValidationMessageFor(model => model.Occupation, "", new { @class = "textboxerror" })
                </div>
            </div>
        </div>

        <div class="row rowPadding">
            <div>
                <div class="col-md-2 formlabelFontRight">
                    @Html.LabelFor(model => model.Expertise1)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Expertise1, new { htmlAttributes = new { @class = "form-control", placeholder = "Expertise area 1", id = "TxtExpertise1" } })
                    @Html.ValidationMessageFor(model => model.Expertise1, "", new { @class = "textboxerror" })

                    @Html.EditorFor(model => model.Expertise2, new { htmlAttributes = new { @class = "form-control", placeholder = "Expertise area 2", id = "TxtExpertise2" } })
                    @Html.ValidationMessageFor(model => model.Expertise2, "", new { @class = "textboxerror" })

                    @Html.EditorFor(model => model.Expertise3, new { htmlAttributes = new { @class = "form-control", placeholder = "Expertise area 3", id = "TxtExpertise3" } })
                    @Html.ValidationMessageFor(model => model.Expertise3, "", new { @class = "textboxerror" })

                    @Html.EditorFor(model => model.Expertise4, new { htmlAttributes = new { @class = "form-control", placeholder = "Expertise area 4", id = "TxtExpertise4" } })
                    @Html.ValidationMessageFor(model => model.Expertise4, "", new { @class = "textboxerror" })

                    @Html.EditorFor(model => model.Expertise5, new { htmlAttributes = new { @class = "form-control", placeholder = "Expertise area 5", id = "TxtExpertise5" } })
                    @Html.ValidationMessageFor(model => model.Expertise5, "", new { @class = "textboxerror" })
                </div>
            </div>
            <div>
                <div class="col-md-2 formlabelFontRight">
                    @Html.LabelFor(model => model.Interests)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Interests, new { htmlAttributes = new { @class = "form-control", id = "TxtInterests" } })
                    @Html.ValidationMessageFor(model => model.Interests, "", new { @class = "textboxerror" })
                </div>
            </div>

        </div>

        <br />
        <div class="col-md-12 text-center">
            <input type="button" value="Save Changes" class="btn btn-primary" onclick="UpdateProfileWorkplaceAndExpertiseInfo();" />
        </div>
    </div>

    <div id="testModal" class="hideDiv">
        <span>Test Modal</span>
    </div>
</div>