@model GCETNChapter.Models.ViewModels.MemberProfileVO
<script src="~/JQueryScripts/MemberPages/MyProfile.js"></script>

@{
    ViewBag.Title = "My Profile";
    //Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div id="divMyProfilePage" class="partialBodySection hideDiv" style="min-height: 600px">
        <span class="headerText">
            Member Profile
            @{
                if (!string.IsNullOrEmpty(ViewBag.RequestUser))
                {
                    <span> ( </span><span id="LblProfileOwnerUsername">@ViewBag.RequestUser</span> <span> ) </span>
                }
            }
        </span>
        <br /><br />

        <!-- Right Side Menu Section -->
        <div id="divRightMenuSection" class="col-lg-2 col-md-3 col-sm-3">
            <a href="#" id="LnkLoginAndPersonalInfo" onclick="GetProfileLoginAndPersonalInfo();">
                <p class="well well-sm">Login and Personal Information</p>
            </a>
            <a href="#" id="LnkCollegeInfo" onclick="GetProfileCollegeInformation();">
                <p class="well well-sm">College Information</p>
            </a>
            <a href="#" id="LnkContactInfo" onclick="GetProfileContactInformation();">
                <p class="well well-sm">Contact Information</p>
            </a>
            <a href="#" id="LnkAddressInfo" onclick="GetProfileAddressInformation();">
                <p class="well well-sm">Address Information</p>
            </a>
            <a href="#" id="LnkWorkplaceAndExpertiseInfo" onclick="GetProfileWorkplaceAndExpertiseInfo();">
                <p class="well well-sm">Workplace And Expertise</p>
            </a>
        </div>

        <!-- Left Control Section -->
        <div id="divLeftControlSection" class="col-lg-10 col-md-9 col-sm-9">

            <!-- WELCOME MESSAGE -->
            <div id="divWelcomeMessage" class="panel panel-default">
                <div class="panel-heading formlabelFontLeft">Welcome to My Profile</div>
                <div class="panel-body">

                    This paage allows you to keep your profile information upto date. Having your profile details updated is important to make sure you we dont lose track of you.

                </div>
            </div>

            <!-- LOGIN AND PERSONAL INFORMATION -->
            <div id="divLoginAndPersonalInfo" class="hideDiv">
                @Html.Partial("MemberProfile/_LoginAndPersonalInfo", Model)
            </div>

            <!-- CONTACT INFORMATION -->
            <div id="divContactInfo" class="hideDiv">
                @Html.Partial("MemberProfile/_ContactInformation", Model)
            </div>
                    
            <!-- COLLEGE INFORMATION -->
            <div id="divCollegeInfo" class="hideDiv">
                @Html.Partial("MemberProfile/_CollegeInformation", Model)
            </div>

            <!-- ADDRESS INFORMATION -->
            <div id="divAddressInfo" class="hideDiv">
                @Html.Partial("MemberProfile/_AddressInformation", Model)
            </div>

            <!-- WORKPLACE AND EXPERTISE INFORMATION -->
            <div id="divWorkplaceAndExpertiseInfo" class="hideDiv">
                @Html.Partial("MemberProfile/_WorkplaceAndExpertiseInformation", Model)
            </div>

            <br />
            <div class="col-md-6">
                @Html.Partial("_SuccessErrorMessages")
            </div>
        </div>

    </div>

}
