<script src="~/JQueryScripts/Events/EventsPage.js"></script>

@{
    ViewBag.Title = "Events";
}

<div id="divEventsPage" class="partialBodySection hideDiv">
    <div class="row">
        <div class="col-md-2 text-center">
            <a href="#" id="LnkManageEvents_E">
                <p class="well well-sm">
                    Manage Events
                </p>
            </a>
        </div>

        <div class="col-md-2 text-center">
            <a href="#" id="LnkManageEventPaymentCollection_E">
                <p class="well well-sm">
                    Manage Event Payment Collections
                </p>
            </a>
        </div>

        <div class="col-md-2 text-center">
            <a href="#" id="LnkManageEventExpenseDetails_E">
                <p class="well well-sm">
                    Manage Event Expense Details
                </p>
            </a>
        </div>

        <div class="col-md-2 text-center">
            <a href="#" id="LnkManageEventGallery_E">
                <p class="well well-sm">
                    Manage Event Gallery
                </p>
            </a>
        </div>
    </div>

    <hr />


    <div id="divTableViewEvents" class="hideDiv">
        @Html.Partial("Events/_ViewEvents")
    </div>
    <div id="divAddEvent" class="hideDiv">
        @Html.Partial("Events/_AddEvents")
    </div>

    <div id="divTableEventPaymentCollection" class="hideDiv">
        @Html.Partial("Events/_AddEventPaymentCollection")
    </div>
    <div id="divAddEventPaymentCollection" class="hideDiv">
        @Html.Partial("Events/_AddEventPaymentCollection")
    </div>

    <div id="divAddEventExpenseDetails" class="hideDiv">
        @Html.Partial("Events/_AddEventExpenseDetails")
    </div>

    <div id="divManageEventGallery" class="hideDiv">
        @*@Html.Partial("Events/_AddEvents")*@
    </div>
</div>

