@model GCETNChapter.Models.ViewModels.DonationDetailsVO

<form action="~/Donations/AddDonations/" method="post">

    <span id="LblDonationsHeaderText" class="headerText">Add Donations</span>
    <br /><br /><br />

    <div class="form-group">
        @Html.LabelFor(model => model.DonationID, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div id="LblDonationID" class="col-md-10 formlabelFontLeft">            
            @Html.DisplayFor(model => model.DonationID)
            @Html.HiddenFor(model => model.DonationID)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CollegeRegistrationNo, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CollegeRegistrationNo, new { htmlAttributes = new { @class = "form-control", maxlength = "12", placeholder="Lookup for College Reg No", id = "TxtCollegeRegNo_Lookup", style = "display: inline;" } })
            <a href="#" id="LnkLookupCollegeRegNo" class="editIcon" title="Lookup for College Registration Number"><span class="glyphicon glyphicon-search" style="font-size: 18px;"></span></a>
            @Html.ValidationMessageFor(model => model.CollegeRegistrationNo, "", new { @class = "textboxerror" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentReason, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PaymentReason, new { htmlAttributes = new { @class = "form-control", maxlength = "100", id = "TxtPaymentReason" } })
            @Html.ValidationMessageFor(model => model.PaymentReason, "", new { @class = "textboxerror" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "dateValue form-control", id = "TxtPaymentDate", style = "display: inline;" } })
            <span class="glyphicon glyphicon-info-sign editIcon" data-toggle="tooltip" title="Payment Date should be in MM/DD/YYYY date format." style="font-size: 16px;"></span>
            @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "textboxerror" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentStartDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PaymentStartDate, new { htmlAttributes = new { @class = "dateValue form-control", id = "TxtPaymentStartDate", style = "display: inline;" } })
            <span class="glyphicon glyphicon-info-sign editIcon" data-toggle="tooltip" title="Payment Start Date should be in MM/DD/YYYY date format." style="font-size: 16px;"></span>
            @Html.ValidationMessageFor(model => model.PaymentStartDate, "", new { @class = "textboxerror" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PaymentEndDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PaymentEndDate, new { htmlAttributes = new { @class = "dateValue form-control", id = "TxtPaymentEndDate", style = "display: inline;" } })
            <span class="glyphicon glyphicon-info-sign editIcon" data-toggle="tooltip" title="Payment End Date should be in MM/DD/YYYY date format." style="font-size: 16px;"></span>
            @Html.ValidationMessageFor(model => model.PaymentEndDate, "", new { @class = "textboxerror" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "currency form-control", id = "TxtAmount", style="display: inline;" } })
            <span class="smallFont">E.g.: 15000.00 (wihtout comma separated)</span>
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "textboxerror" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="LnkCancelAddNewDonation" type="button" class="btn btn-default" value="Cancel" />
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>
