@model GCETNChapter.Models.ViewModels.DonationDetailsVO
<script src="~/JQueryScripts/MemberPages/AddDonations.js"></script>

@{
    ViewBag.Title = "Donatoins";
}

   
    <div id="divAddDonationDetails" class="form-horizontal partialBodySection hideDiv">
    <div class="row">
        <div class="col-md-2 text-center">
            <a href="/Donations/AddDonations/" id="LnkAddDonations">
                <p class="well well-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Donatoins
                </p>
            </a>
        </div>

        <div class="col-md-2 text-center">
            <a href="/Donations/AddDonations/" id="EditDonations">
                <p class="well well-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                    View / Edit Donations
                </p>
            </a>
        </div>
    </div>
    <hr />

    <span id="LblDonatoinsHeaderText" class="headerText">Add Donations</span>
    <br /><br /><br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.CollegeRegistrationNo, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CollegeRegistrationNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CollegeRegistrationNo, "", new { @class = "textboxerror" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentReason, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentReason, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentReason, "", new { @class = "textboxerror" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "textboxerror" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentStartDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentStartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentStartDate, "", new { @class = "textboxerror" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentEndDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentEndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentEndDate, "", new { @class = "textboxerror" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AmountPaid, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AmountPaid, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                @Html.ValidationMessageFor(model => model.AmountPaid, "", new { @class = "textboxerror" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>

        <br />
        <div class="col-md-12">
            @Html.Partial("_SuccessErrorMessages");
        </div>
    }
</div>
