@model GCETNChapter.Models.ViewModels.Events.EventExpenseDetailsVO


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <span id="LblExpenseDetailsHeader" class="headerText">Add Event Expense Details</span>
        <br /><br /><br />

    <div class="form-horizontal">

        @if (Model != null)
        {
            if (Model.EventID >= 1)
            {



            }
        }


        @if (Model != null)
        {
            if (Model.ExpenseDetailID > 0)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.ExpenseDetailID, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
                    <div id="LblExpenseDetailID_EED" class="col-md-10 normalFontLeft">
                        @Html.DisplayFor(model => model.ExpenseDetailID)
                    </div>
                </div>
            }

            <div class="form-group">
                @Html.LabelFor(model => model.EventNameList, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
                <div class="col-md-10 normalFontLeft">
                    @Html.DropDownListFor(model => model.EventName, new SelectList(Model.EventNameList, Model.EventName), new { @class = "form-control", id = "DDLEventName_ExpenseDetails" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EventID, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
                <div id="LblEventID_EED" class="col-md-10 normalFontLeft">
                    @Html.DisplayFor(model => model.EventID)
                </div>
            </div>
        }

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseDetail, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpenseDetail, new { htmlAttributes = new { @class = "form-control", id = "TxtExpenseDetail_EED", maxlength = "100" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpenseDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpenseDate, new { htmlAttributes = new { @class = "form-control", id = "TxtExpenseDate_EED" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", id = "TxtAmount_EED" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div id = "LblCreatedBy_EED" class="col-md-10">
                @Html.DisplayFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="BtnCancelAddUpdate_EED" type="button" value="Cancel" class="btn btn-default" />
                <input id="BtnSaveEventExpenseDetail_EED" type="button" value="Add Expense Detail" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
