@model List<GCETNChapter.Models.ViewModels.Events.EventExpenseDetailsVO>

<span id="LblHeaderText_EED" class="headerText">Manage Event Expense Details</span>
<br /><br /><br />

<div>
    <a href="#" id="LnkAddExpenseDetails_EED"><span class="glyphicon glyphicon-plus"></span> New Expense Detail</a>
</div>
<br />

<div class="row table-responsive">
    <table id="TblViewEventExpenseDetails_EED" class="table table-hover">
        <thead>
            <tr class="tableHeaderFont">
                <th></th>
                <th>Event Name</th>
                <th>Details</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>Expense Date </th>
                <th class="text-right">Amount (Rs.)</th>
                <th>Created By</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>Created Date </th>
                <th>Modified By</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>Modified Date </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr class="tableBodyFont">
                        <td>
                            <a href="#" class="editIcon" title="Edit Payment Collection" onclick="GetEventExpenseDetailByID(@item.ExpenseDetailID, 0)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="#" class="editIcon" title="Delete Payment Collection" onclick="DeleteEventExpenseDetail(@item.ExpenseDetailID)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td>@item.EventName</td>
                        <td>@item.ExpenseDetail</td>
                        <td>@item.ExpenseDate.Value.ToShortDateString()</td>
                        <td class="text-right">@Convert.ToDecimal(item.Amount).ToString("#,##0.00")</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedDate.Value.ToShortDateString()</td>
                        <td>@item.ModifiedBy</td>
                        <td>@item.ModifiedDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




