@model IEnumerable<GCETNChapter.Models.ViewModels.Members.MembersVO>


<br />
<div>
    <table id="TblAllMembers" class="table table-hover table-responsive">
        <thead>
            <tr class="tableHeaderFont">
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Batch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Branch)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentCountry)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WhatsappNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrimaryContactNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr class="tableBodyFont">
                        <td>
                            @if (item.ProfileImage == null)
                            {
                                <img src="~/_ImageUploads/MemberProfile/Sample_NoImage.png" height="50" width="50" style="border-radius: 5px;" />
                            }
                            else
                            {
                                <img src=@("/_ImageUploads/MemberProfile/" + item.ProfileImage) height="50" width="50" style="border-radius: 5px;" />
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Batch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Branch)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CurrentCountry)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WhatsappNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrimaryContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>