<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS STYLESHEETS -->
    <link href="~/Content/ScrollingCss.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <!-- JQUERY AND BOOTSTRAP JAVA SCRIPT REFERENCES -->
    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <link href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/JQueryScripts/GeneralScripts.js"></script>
    
    <title>GCE TN Trust</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <!-- HEADER SECTION-->
        <div>
            @if (Session["username"] == null)
            {
                @Html.Partial("_PublicHeaderSection")
            }
            else
            {
                @Html.Partial("_MemberHeaderSection")
            }            
        </div>

        <div class="bodySection" style="min-height: 600px">
            @RenderBody()
        </div>


        <!-- FOOTER SECTION-->
        <div>
            @Html.Partial("_FooterSection")
        </div>

    </div>

    @RenderSection("scripts", required: false)



    <!-- MODAL POPUP FOR GENERAL WARNINGS AND ERRORS -->
    <div id="GeneralWarningAndErrorModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span id="ImgSuccess" class="glyphicon glyphicon-ok" style="color: darkseagreen;"></span>
                    <span id="ImgError" class="glyphicon glyphicon-remove" style="color: red;"></span>
                    <span id="GeneralModalHeaderText" class="modal-title text-success" style="font-weight: bold;"> <!-- Dynamic Header Content Passed via Jquery Code --></span>
                </div>
                <div class="modal-body">
                    <span id="GeneralModalBodyText" class="control-label"> <!-- Dynamic Body Content Passed via Jquery Code --></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>

        </div>
    </div>


    <!-- MODAL POPUP FOR Login-InProgress -->
    <div id="LoginProgressModal" class="modal fade" role="dialog" tabindex="-1">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body text-center">
                    <br /><br /><br />

                    <div class="text-center">
                        <img src="~/Images/loading.gif" height="100" />
                    </div>

                    <br /><br />
                    <span class="control-label"> Please wait while we load all your information. </span>

                    <br /><br /><br />
                </div>
            </div>

        </div>
    </div>


    <script>
        var myIndex = 0;
        carousel();
    </script>
</body>
</html>
