<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCE TN Trust - @ViewBag.Title</title>

    <script src="~/Scripts/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/JQueryScripts/GeneralScripts.js"></script>
    <link href="~/Content/ScrollingCss.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <!-- HEADER SECTION-->
        <div>
            @if (Session["username"] == null)
            {
                @Html.Partial("_PublicHeaderSection")
            }
            else
            {
                @Html.Partial("_MemberHeaderSection")
            }            
        </div>
        <hr />

        <div class="bodySection">
            @RenderBody()
        </div>


        <!-- FOOTER SECTION-->
        <div>
            @Html.Partial("_FooterSection")
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <!-- MODAL POPUP FOR GENERAL WARNINGS AND ERRORS -->
    <div id="GeneralWarningAndErrorModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <span id="GeneralModalHeaderText" class="modal-title"> <!-- Dynamic Content Passed via Jquery Code --></span>
                </div>
                <div class="modal-body">
                    <span id="GeneralModalBodyText" class="control-label"> <!-- Dynamic Content Passed via Jquery Code --></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">O K</button>
                </div>
            </div>

        </div>
    </div>


    <script>
        var myIndex = 0;
        carousel();
    </script>
</body>
</html>
