@model IEnumerable<GCETNChapter.Models.ViewModels.News.NewsVO>
<script src="~/JQueryScripts/PublicPages/NewsFeed.js"></script>

@{
    ViewBag.Title = "News Feed";
}


<div id="divNewsPage" class="container partialBodySection hideDiv">
    <br />

    <span class="headerText">News Feed</span>
    <hr />

    @if (ViewBag.AccessRole == "SUPERADMIN")
    {
        <div class="text-right">
            <a href="#" id="LnkAddNewsFeed"><span class="glyphicon glyphicon-plus" style="padding-top: 10px; padding-bottom: 10px;"></span> Add News Feed</a>
        </div>
    }

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-md-12 newsHeadline">
                <span><img src="~/Images/OtherPages/NewsIcon.png" height="70" /></span>
                <span class="formlabelFontLeft">@Html.DisplayFor(modelItem => item.HeadLine)</span>

                @if (ViewBag.AccessRole == "SUPERADMIN")
                {
                    <a href="#" onclick="DeleteNewsFeed(@item.NewsID)"><span class="glyphicon glyphicon-trash text-right editIcon"></span></a>
                    <a href="#" onclick="GetNewsFeedByNewsID(@item.NewsID)"><span class="glyphicon glyphicon-pencil text-right editIcon"></span></a>
                }
            </div>
            <div class="newsDetail">
                <span>@Html.DisplayFor(modelItem => item.NewsDetail)</span>

                <br />
                <div class="text-right">
                    <span class="smallFont">
                        Posted On:
                        @if (item.CreatedDate.Value.ToShortDateString() == DateTime.Now.ToShortDateString())
                        {
                            <span><b>Today</b></span>
                        }
                        else
                        {
                            @item.CreatedDate
                        }
                    </span>
                </div>
            </div>
            <br />
        }
    }
    else
    {
        <div class="normalFontLeft">
            No News has been posted yet...
        </div>
    }

</div>


    <!-- MODAL POPUP FOR WARNINGS AND ERRORS -->
<div id="divAddEditNewsFeedModal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <span id="LblAddUpdateNewsFeedHeader" class="modal-title text-success" style="font-weight: bold;"> Add News Feed </span>
            </div>
            <div id="divAddUpdateNewsFeed" class="modal-body">
                <!-- Ajax Partial View will be parsed into this sectoin-->
                @Html.Partial("_AddUpdateNewsFeedModal");
            </div>
        </div>

    </div>
</div>





