@model GCETNChapter.Models.ViewModels.MemberProfileVO

<div class="panel panel-default">
    <div class="panel-heading formlabelFontLeft">College Information</div>
    <div class="panel-body">

        <div class="row rowPadding">
            <div>
                <div class="col-md-2 formlabelFontRight">
                    @Html.LabelFor(model => model.CollegeRegistrationNo)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CollegeRegistrationNo, new { htmlAttributes = new { @class = "form-control", disabled = "true", id = "TxtCollegeRegNo", maxlength = "12" } })
                    @Html.ValidationMessageFor(model => model.CollegeRegistrationNo, "", new { @class = "textboxerror" })
                </div>
            </div>
            <div>
                <div class="col-md-2 formlabelFontRight">
                    @Html.LabelFor(model => model.Batch)
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Batch, new SelectList(ViewBag.BatchList), new { @class = "form-control", id = "DDLBatch" })
                    @Html.ValidationMessageFor(model => model.Batch, "", new { @class = "textboxerror" })
                </div>
            </div>
        </div>

        <div class="row rowPadding">
            <div>
                <div class="col-md-2 formlabelFontRight">
                    @Html.LabelFor(model => model.Branch)
                </div>
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.Branch, new SelectList(ViewBag.BranchList), new { @class = "form-control", id = "DDLBranch" })
                    @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "textboxerror" })
                </div>
            </div>
            <div>
                <div class="col-md-2 formlabelFontRight">
                    @Html.LabelFor(model => model.EngineeringDescipline)
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.EngineeringDescipline, new { htmlAttributes = new { @class = "form-control", id = "TxtEngDescipline", maxlength = "50" } })
                    @Html.ValidationMessageFor(model => model.EngineeringDescipline, "", new { @class = "textboxerror" })
                </div>
            </div>
        </div>

        <br />
        <div class="col-md-12 text-center">
            <input type="button" value="Save" class="btn btn-primary" onclick="UpdateProfileCollegeInformation();" />
        </div>
    </div>
</div>