@model GCETNChapter.Models.ViewModels.MemberProfileVO

    <div class="panel panel-default">
    <div class="panel-heading formlabelFontLeft">Personal and Login Information</div>
    <div class="panel-body">

        <div class="form-horizontal">
            <div class="row rowPadding">
                <div>
                    <div class="col-md-2 formlabelFontRight">
                        @Html.LabelFor(model => model.FullName)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", id = "TxtFullName", maxlength = "100" } })
                    </div>
                </div>
                <div>
                    <div class="col-md-2 formlabelFontRight">
                        @Html.LabelFor(model => model.Gender)
                    </div>
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.Gender, new SelectList(ViewBag.GenderList), new { @class = "form-control", id = "DDLGender" })
                    </div>
                </div>
            </div>

            <div class="row rowPadding">
                <div>
                    <div class="col-md-2 formlabelFontRight">
                        @Html.LabelFor(model => model.DateOfBirth)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control dateValue", id = "TxtDOB", style = "display: inline;" } })
                        <span class="glyphicon glyphicon-info-sign editIcon" data-toggle="tooltip" title="Date of Birth should be in MM/DD/YYYY date format." style="font-size: 16px;"></span>
                    </div>
                </div>
                <div>
                    <div class="col-md-2 formlabelFontRight">
                        @Html.LabelFor(model => model.ProfileImage)
                    </div>
                    <div class="col-md-4">
                        <input type="file" name="ProfileImage" id = "TxtProfileImage" style="display: inline;" />
                        @if(Model!= null)
                        {
                            <img src=@("/_ImageUploads/MemberProfile/"+ Model.ProfileImage) height="40" width="40" style="border-radius: 5px;" />
                        }
                        else
                        {
                            <img src="~/_ImageUploads/MemberProfile/Sample_NoImage.png" height="40" width="40" style="border-radius: 5px;" />
                        }
                    </div>
                </div>
            </div>

            <br />

            <div class="row rowPadding">
                <div>
                    <div class="col-md-2 formlabelFontRight">
                        @Html.LabelFor(model => model.Username)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", disabled = "true", id = "TxtUsername", maxlength = "50" } })
                    </div>
                </div>
            </div>

            <div class="row rowPadding">
                <div>
                    <div class="col-md-2 formlabelFontRight">
                        @Html.LabelFor(model => model.Password)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", id = "TxtPassword", maxlength = "50" } })
                    </div>
                </div>
                <div>
                    <div class="col-md-2 formlabelFontRight">
                        @Html.LabelFor(model => model.ConfirmPassword)
                    </div>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", id = "TxtConfirmPassword", maxlength = "50" } })
                    </div>
                </div>
            </div>

            <br />
            <div class="col-md-12 text-center">
                <input type="button" value="Save" class="btn btn-primary" onclick="UpdatePersonalAndLoginInfo();" />
            </div>
        </div>

    </div>
</div>
