@model List<GCETNChapter.Models.ViewModels.Events.EventPaymentCollectionVO>

<span id="LblHeaderText_EPC" class="headerText">Manage Event Payment Collection</span>
<br /><br /><br />

<div>
    <a href="#" id="LnkAddPaymentCollection_EPC"><span class="glyphicon glyphicon-plus"></span> New Payment Collection</a>
</div>
<br />

<div class="row table-responsive">
    <table id="TblViewEventPatments_EPC" class="table table-hover">
        <thead>
            <tr class="tableHeaderFont">
                <th></th>
                <th>Event Name</th>
                <th>Member Name</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>Payment Date</th>
                <th class="text-right">Amount Received (Rs.)</th>
                <th>Created By</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>Created Date</th>
                <th>Modified By</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span> Modified Date </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr class="tableBodyFont">
                        <td>
                            <a href="#" class="editIcon" title="Edit Payment Collection" onclick="GetEventPaymentCollectionByID(@item.PaymentCollectionID, 0)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="#" class="editIcon" title="Delete Payment Collection" onclick="DeleteEventPaymentCollection(@item.PaymentCollectionID)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                        <td>@item.EventName</td>
                        <td>@item.MemberName</td>
                        <td>@item.PaymentDate.Value.ToShortDateString()</td>
                        <td class="text-right">@Convert.ToDecimal(item.AmountReceived).ToString("#,##0.00")</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedDate.Value.ToShortDateString()</td>
                        <td>@item.ModifiedBy</td>
                        <td>@item.ModifiedDate</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>




