@model GCETNChapter.Models.ViewModels.Events.EventsVO


@using (Html.BeginForm("AddEvents", "Events", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <span id="LblManageEventsHeader_AE" class="headerText">Add New Event</span>
        <br /><br />

        @if (Model != null)
        {
            if (Model.EventID >= 1)
            {
            <div class="form-group">
                @Html.LabelFor(model => model.EventID, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
                <div id="LblEventID" class="col-md-10 normalFontLeft">
                    @Html.DisplayFor(model => model.EventID)
                </div>
            </div>
            }
        }

        <div class="form-group">
            @Html.LabelFor(model => model.EventName, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EventName, new { htmlAttributes = new { @class = "form-control", id = "TxtEventName", maxlength = "50" } })
                @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", id = "TxtStartDate" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", id = "TxtEndDate" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalCollectedAmount, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalCollectedAmount, new { htmlAttributes = new { @class = "form-control", id = "TxtTotalCollectedAmount" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalExpenseAmount, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalExpenseAmount, new { htmlAttributes = new { @class = "form-control", id = "TxtTotalExpenseAmount" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "formlabelFontRight col-md-2" })
            <div id = "LblCreatedBy_AE" class="col-md-10 normalFontLeft">
                @Html.DisplayTextFor(model => model.CreatedBy)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="BtnCancelAddEvent_AE" type="button" value="Cancel" class="btn btn-default" />
                <input id="BtnSaveAddEvent_AE" type="button" value="Create Event" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

