@model List<GCETNChapter.Models.ViewModels.Events.EventsVO>

<span id="LblHeaderText_VE" class="headerText">Manage Events</span>
<br /><br /><br />

<div>
    <a href="#" id="LnkAddNewEvent_VE"><span class="glyphicon glyphicon-plus"></span> New Event</a>
</div>
<br />

<div class="row table-responsive">
    <table id="TblViewEvents" class="table table-hover">
        <thead>
            <tr class="tableHeaderFont">
                <th></th>
                <th>Event Name</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>Start Date</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>End Date</th>
                <th class="text-right">Total Collected (Rs.)</th>
                <th class="text-right">Total Expenses (Rs.)</th>
                <th>Created By</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>Created Date</th>
                <th>Modified By</th>
                <th><span class="dateFormatText">(MM/DD/YYYY)</span>Modified Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                <tr class="tableBodyFont">
                    <td>
                        <a href="#" class="editIcon" title="Edit Event" onclick="GetEventDetailsByEventID(@item.EventID)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#" class="editIcon" title="Delete Event" onclick="DeleteEvent(@item.EventID)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                    <td>@item.EventName</td>
                    <td>@item.StartDate.Value.ToShortDateString()</td>
                    <td>@item.EndDate.Value.ToShortDateString()</td>
                    <td class="text-right">@Convert.ToDecimal(item.TotalCollectedAmount).ToString("#,##0.00")</td>
                    <td class="text-right">@Convert.ToDecimal(item.TotalExpenseAmount).ToString("#,##0.00")</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.CreatedDate.Value.ToShortDateString()</td>
                    <td>@item.ModifiedBy</td>
                    <td>@item.ModifiedDate</td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>





