@model IEnumerable<GCETNChapter.Models.ViewModels.ManageAccess.AccessLevelsVO>



<div class="row">
    <div class="form-group col-md-12">
        <span class="text-danger"><span class="glyphicon glyphicon-warning-sign" style="font-size: 25px;"></span>&nbsp; Making changes to any of the values in the below table (in database) will impact the entire Access Manager functionality throughout the website. Only changes through this page will be accomodated.</span>
    </div>
    <br />
    <div class="col-md-3">
        <div class="form-group">
            <a href="#" id="LnkAddNewAccessRole"><span class="glyphicon glyphicon-plus"></span> Create New Access Role </a>
        </div>
    </div>
    <div class="col-md-9 text-left">
            <span class="formlabelFontLeft"> Select an Access Role to View Access Levels </span>
            @Html.DropDownList("Role", new SelectList(ViewBag.AccessRoles, ViewBag.Role), new { @class = "dropdownstyle", id = "DDLAccessRoleList" })
        <a href="#" id="DeleteAccessRole" class="editIcon" data-toggle="tooltip" title="Delete the selected Access Role. NOTE: Please select the Access Role you want to delete and then click on Delete button."> <span class="glyphicon glyphicon-trash"></span> </a>
    </div>

</div>
<br />

@if (Model != null)
{
<table id="TblAccessLevels" class="table table-hover table-responsive">
    <tr class="tableHeaderFont">
        <th>
            @Html.DisplayNameFor(model => model.AccessID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Page)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.GrantAccess)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
            <span class="dateFormatText">(MM/DD/YYYY)</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
            <span class="dateFormatText">(MM/DD/YYYY)</span>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr class="tableBodyFont">
        <td id="LblAccessID">
            @Html.DisplayFor(modelItem => item.AccessID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Page)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessLevel)
        </td>
        <td class="text-center">
            @Html.CheckBoxFor(modelItem => item.GrantAccess, new { id = "ChboxGrantAccess", onclick = "GetSelectedRowAccessLevel();" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDate)
        </td>
    </tr>
}

</table>
}